body{
  margin:0;
  padding:0;
  background-color: rgba(221, 221, 221, 0.744) ;
  font-family: "Inter";
  font-weight: 100;
  letter-spacing: -0.7px; 
}

html { overflow-y: scroll; }

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black
}

/* selected link */
a:active {
  color: black
}

.drpdwn a:link {
  color:black
}

.drpdwn a:visited {
  color:black
}

.drpdwn a:active {
 
  border: 1px solid;
  border-color: red;
}

.boldSmallHeading {
  font-weight: 900;
  letter-spacing: -0.7px; 
}

.textfieldBackground {
  background-color: white;
}

.textSmall{
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 400;
}

.textSmallBold{
  font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 900;

}

.plusMinusButtons {
  height: 30px;
  width: 30px ;
  border-radius: 50% ;
  border : 2px solid
}

.textMediumBold{
  font-size: 16px;
  font-weight: 600 

}

.preloader1 {
  max-width : 200px ;
  min-width : 200px ;
  background-color: rgba(221, 221, 221, 0.744) ;
  border : 1px solid rgba(221, 221, 221, 0.744);
  border-radius: 5px ;
  height : 12px;
  animation-name: preload1;
  animation-duration: 2s;
  animation-iteration-count: 5;
}

@keyframes preload1 {
  from {background-color: rgb(137, 137, 137);}
  to {background-color: rgba(221, 221, 221, 0.744)}
}

.starRating {
  width: 40px ;
  height : 30px;
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.starRating:hover {
  background-color: rgb(142, 187, 236);
}

.starRating:link {
  color:black
}

.seeMore {
  max-height: 160px;
  overflow: hidden; 

}

.seeMore-long {

  max-height: 100%;
  /* animation-name: extend;
  animation-duration : 0.1s; */
}

@keyframes extend {
  from {height: 165px}
  to { height: 100%; }
   
}